html{
}
body {
  min-height: 100%;
  background-color:white;
}
h1{
color:black;
font-family : Verdana;
margin-left: 105px;
}
p{
color:black;
font-family: Georgia;
margin-left: 105px;
margin-right:100px;
text-align: left;
}
#email{
  text-align:right;
  font-family: Impact;
}
.top{
  height: 55px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
  background-color: #C3C3C3;
}
#button1{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100px;
}
#button2{
  position: fixed;
  top: 60px;
  left:0px;
  height: 55px;
  width: 100px;
}
#button3{
  position: fixed;
  top: 120px;
  left: 0px;
  height: 55px;
  width: 100px;
}
div strong{
  position:relative;
  top:2px;
}
span{
font-size:26px;
}
